<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_board</title>
</head>
<body>
    <form action="/board/add" method="POST">
        <header>TITLE: </header>
        <input name="title" type="text" placeholder="title"><br>
        <header>AUTHOR: </header>
        <input name="author" type="text" placeholder="author"><br>
        <header>CONTENT: </header>
        <textarea name="content" cols="30" rows="10" placeholder="content"></textarea><br>
        <input type="submit" value="complete">
    </form>
</body>
</html>