<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <style type="text/css">
        a:link { color: black; text-decoration: none;}
        a:visited { color: black; text-decoration: none;}
        a:hover { color: blue; text-decoration: none;}
    </style>
</head>
<body>
    <table style="width:100%" border="1">
        <thead>
            <tr align="center">
                <th>index</th>
                <th>title</th>
                <th>author</th>
                <th>date</th>
                <th>etc</th>
            </tr>
        </thead>
        <tbody>
            {% for data_i in data %}
                <tr align="center">
                    <td>{{ data_i[0] }}</td>
                    <td><a href="/{{ data_i[0] }}/board">{{ data_i[1] }}</a></td>
                    <td>{{ data_i[3] }}</td>
                    <td>{{ data_i[4] }}</td>
                    <td>
                        <a href="/{{ data_i[0] }}/delete">
                            <button onclick="return confirm('Do you really want to delete?')">delete</button>
                        </a> 
                        <!-- 버튼 클릭 시 정말 삭제할 것이냐고 되묻는 알림창 뜨게 하기 -->
                    </td>
                    <td>
                        <a href="/{{ data_i[0] }}/edit">
                            <button>edit</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
    <div align="right">
        <a href="/board/add"><button>write</button></a>
    </div>
</body>
</html>