<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit_board</title>
</head>
<body>
    <form action="/{{ data[0] }}/edit" method="POST">
        <header>TITLE: </header>
        <input name="title" type="text" value="{{ data[1] }}"><br>
        <header>AUTHOR: </header>
        <input name="author" type="text" value="{{ data[3] }}"><br>
        <header>CONTENT: </header>
        <textarea name="content" cols="30" rows="10">{{ data[2] }}</textarea><br>
        <input type="submit" value="complete">
    </form>
</body>
</html>